<%
const since = config.since;
const year = new Date().getFullYear();
const user_name = config.author;
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '';
  wrapper += '<footer class="page-footer fs12"><hr><div>';
  wrapper += markdown(__('footer.copyright', since, year, author));
  if (source) {
    wrapper += markdown(__('footer.info_open_source', author, using, source));
  } else {
    wrapper += markdown(__('footer.info_not_open_source', author, using));
  }
  wrapper += '</div></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>
